dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4e7cae15-591c-4105-bfe4-907329aac658" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="2c4c3f39-59a4-4a75-99ab-d76d513fd0c1" >
		<http:listener doc:name="Listener" doc:id="c4f6c72b-41d1-4d66-bec2-f087cb9887c8" config-ref="HTTP_Listener_config" path="/welcome"/>
		<ee:transform doc:name="Transform Message" doc:id="d20c6a08-ac66-4a4b-b101-a8296bc5d4d5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Welcome!" ++ ' ' ++ payload.firstName ++ ' ' ++ payload.lastName ++ '' ++ "Your customer id is " ++ payload.cid]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
